* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        rgb(26, 206, 246) 0%,
        rgb(17, 91, 121) 100%
    );
    color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    color: black;
    background-color: #fff;
    max-width: 720px;
    min-width: 500px;
    max-height: 220px;
    padding: 40px;
    border-radius: 10px;
    margin: 90px auto 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#container p {
    text-align: center;
    font-size: 50px;
}

.buttons {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
}
button {
    background-color: #08d6ff;

    margin-top: 20px;
    width: 110px;
    height: 40px;
    border: 1px transparent;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 200ms;
}
button:hover {
    background-color: #28bfdd;
}
button#button-stop {
    background-color: #ff2d2d;
}
button#button-stop:hover {
    background-color: #e83939;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2%;
   
}

a{
    text-decoration: none;
    color: white;
}